# Imports

In [16]:
import pandas as pd
import numpy as np
from numpy import Inf

import os

from tqdm import tqdm

# Load Dataset

In [17]:
data_dir = 'dataset'

In [18]:
network_file = 'Network.csv'
network_path = os.path.join(data_dir, network_file)

In [19]:
network = pd.read_csv(network_path, encoding = 'cp949')

In [20]:
network.head(3)

,Init node,Term node,Free Flow Time,Capacity,Length,B,Power,Speed.limit,Toll1,Toll2,Type
0,1,2,6,25900.20064,6,0.15,4,0,0,0,1
1,1,3,4,23403.47319,4,0.15,4,0,0,0,1
2,2,1,6,25900.20064,6,0.15,4,0,0,0,1

In [21]:
# O, D, FFT, Power, Capacity, B, ... 만 남기고 나머지는 지운다.
# Volume, Cost라는 빈 컬럼을 생성한다.
# cost를 구한다.
net1 = pd.DataFrame({
    'O' : network['Init node '],
    'D' : network['Term node '],
    'FFT' : network['Free Flow Time '],
    'Power' : network['Power'],
    'Capacity' : network['Capacity '],
    'B' : network['B'],
    'Length' : network['Length '],
    'Link_num' : [i for i in range(1, len(network)+1)],
    #'Toll' : network['Toll '],
    'Volume' : 0,
    'Cost' : network['Free Flow Time '],
})

In [22]:
net1

     O   D  FFT  Power      Capacity     B  Length  Link_num  Volume  Cost
0    1   2    6      4  25900.200640  0.15       6         1       0     6
1    1   3    4      4  23403.473190  0.15       4         2       0     4
2    2   1    6      4  25900.200640  0.15       6         3       0     6
3    2   6    5      4   4958.180928  0.15       5         4       0     5
4    3   1    4      4  23403.473190  0.15       4         5       0     4
..  ..  ..  ...    ...           ...   ...     ...       ...     ...   ...
71  23  22    4      2   5000.000000  0.25       4        72       0     4
72  23  24    2      2   5078.508436  0.25       2        73       0     2
73  24  13    4      2   5091.256152  0.25       4        74       0     4
74  24  21    3      2   4885.357564  0.25       3        75       0     3
75  24  23    2      2   5078.508436  0.25       2        76       0     2

[76 rows x 10 columns]

# Make Graph

In [23]:
def make_graph(network):
    """네트워크 데이터프레임을 투입하여 graph 객체를 만들어주는 함수"""
    origin_array = np.array(network['O'].unique())
    
    graph = {} # 빈 딕셔너리 생성

    for origin in origin_array:
    
        origin_rows = network[network['O'] == origin]
    
        destin_array = np.array(origin_rows['D'])
        link_num_array = np.array(origin_rows['Link_num'])
        cost_array = np.array(origin_rows['Cost'])
    
        tup_list = []
    
        for destin, link_num, cost in zip(destin_array, link_num_array, cost_array):
            #tup_list.append((destin, link_num, cost))
            tup_list.append((destin, link_num, cost))
    
        graph[origin] = tup_list
    
    return graph

In [24]:
graph = make_graph(net1)

graph # Node_from : [(Node_to, Link_num, Cost)]

{1: [(2, 1, 6), (3, 2, 4)],
 2: [(1, 3, 6), (6, 4, 5)],
 3: [(1, 5, 4), (4, 6, 4), (12, 7, 4)],
 4: [(3, 8, 4), (5, 9, 2), (11, 10, 6)],
 5: [(4, 11, 2), (6, 12, 4), (9, 13, 5)],
 6: [(2, 14, 5), (5, 15, 4), (8, 16, 2)],
 7: [(8, 17, 3), (18, 18, 2)],
 8: [(6, 19, 2), (7, 20, 3), (9, 21, 10), (16, 22, 5)],
 9: [(5, 23, 5), (8, 24, 10), (10, 25, 3)],
 10: [(9, 26, 3), (11, 27, 5), (15, 28, 6), (16, 29, 4), (17, 30, 8)],
 11: [(4, 31, 6), (10, 32, 5), (12, 33, 6), (14, 34, 4)],
 12: [(3, 35, 4), (11, 36, 6), (13, 37, 3)],
 13: [(12, 38, 3), (24, 39, 4)],
 14: [(11, 40, 4), (15, 41, 5), (23, 42, 4)],
 15: [(10, 43, 6), (14, 44, 5), (19, 45, 3), (22, 46, 3)],
 16: [(8, 47, 5), (10, 48, 4), (17, 49, 2), (18, 50, 3)],
 17: [(10, 51, 8), (16, 52, 2), (19, 53, 2)],
 18: [(7, 54, 2), (16, 55, 3), (20, 56, 4)],
 19: [(15, 57, 3), (17, 58, 2), (20, 59, 4)],
 20: [(18, 60, 4), (19, 61, 4), (21, 62, 6), (22, 63, 5)],
 21: [(20, 64, 6), (22, 65, 2), (24, 66, 3)],
 22: [(15, 67, 3), (20, 68, 5), (21, 69, 2), (23, 70, 4)],
 23: [(14, 71, 4), (22, 72, 4), (24, 73, 2)],
 24: [(13, 74, 4), (21, 75, 3), (23, 76, 2)]}

In [226]:
mini_graph = {
    0: [(1, 'A', 1)],
    1: [(0, 'B', 1), (2, 'C', 2), (3, 'D', 3)],
    2: [(1, 'E', 2), (3, 'F', 1), (4, 'G', 5)],
    3: [(1, 'H', 3), (2, 'I', 1), (4, 'J', 1)],
    4: [(2, 'K', 5), (3, 'L', 1)]
}

# Dijkstra

In [162]:
# takes the graph and the starting node
# returns a list of distances from the starting node to every other node
def Dijkstras(graph, origin):
    """네트워크 그래프(graph)에 대하여, 
    시작 노드(root)으로부터 다른 모든 노드까지의 소요비용 및 경유링크 반환"""
    
    n = len(graph) #> Node 개수
    
    start_point = list(graph.keys())[0]
    end_point = list(graph.keys())[-1]
    
    dist = [Inf for _ in range(n)] #> 노드 수와 동일한 "디스턴스" 목록을 만들고 각 값을 무한대로 초기화합니다.
    dist[origin-start_point] = 0 #> 시작 노드에 대한 "거리"를 0으로 설정합니다.
    visited = [False for _ in range(n)] #> 아직 방문한 적이 없기 때문에 각 노드에 대해 false로 설정된 "방문한" 노드 목록을 만듭니다.
    
    #path_list = []
    
    # loop through all the nodes
    for _ in range(start_point, end_point+1): # 모든 노드를 루프합니다.
        
        start = -1 # "start" our node as -1 (따라서 우리는 아직 start node를 갖고 있지 않음)
        # 모든 노드에 대해서 visitation status 방문 현황을 루프를 돌며 확인한다 :: 한번 방문한 노드를 돌아다니는 cyclic flow 방지
        for i in range(start_point, end_point+1): 
            # 모든 노드를 다시 루프하여 최단 거리이며 아직 방문하지 않은 노드를 선택합니다.
            # 만약 node i+1에 아직 방문하지 않았다면, 또는 i+1 노드까지의 거리가 "시작"노드까지의 거리보다 작을 경우
            if not visited[i-start_point] and (start == -1 or dist[i-start_point] < dist[start]):
                start = i-start_point #해당 노드를 방문한 노드로 설정합니다.
        
        # 만약 모든 노드에 방문되었거나, 이 노드에 우리가 접근할 수 없다면
        if dist[start] == Inf:
            #print('Break!')
            break
            
        # set the node as visited :: 이 노드를 방문했다면 False를 True로 바꾼다.
        visited[start] = True # 거리 목록의 거리를 해당 노드까지의 거리로 설정합니다.
        each_path = []
        
        # 시작 노드에서 각 노드까지 거리를 현재 해당 노드에 대한 거리와 비교
        for end, link_num, cost in graph[start+start_point]:
            if dist[start] + cost < dist[end-start_point]:
                dist[end-start_point] = dist[start] + cost
                #print(graph[])
    
    return dist#, path_list

In [166]:
Dijkstras(mini_graph, 3)

[4, 3, 1, 0, 1]

In [28]:
mini_graph

{0: [(1, 1, 1)],
 1: [(0, 2, 1), (2, 3, 2), (3, 4, 3)],
 2: [(1, 5, 2), (3, 6, 1), (4, 7, 5)],
 3: [(1, 8, 3), (2, 9, 1), (4, 10, 1)],
 4: [(2, 11, 5), (3, 12, 1)]}

In [245]:
def naive_dijkstras(graph, root):
    n = len(graph)
    # initialize distance list as all infinities
    dist = [Inf for _ in range(n)]
    path = [[] for _ in range(n)]
    # set the distance for the root to be 0
    dist[root] = 0
    # initialize list of visited nodes
    visited = [False for _ in range(n)]
    
    # loop through all the nodes
    for k in range(n): # "start" our node as -1 (so we don't have a start node yet)
        
        path[k].append(root)
        
        u = -1
        # 모든 노드에 대해서 visitation status 방문 현황을 루프를 돌며 확인한다 :: 한번 방문한 노드를 돌아다니는 cyclic flow 방지
        for i in range(n):
            # 모든 노드를 다시 루프하여 최단 거리이며 아직 방문하지 않은 노드를 선택합니다.
            # 만약 node i+1에 아직 방문하지 않았다면, 또는 i+1 노드까지의 거리가 "시작"노드까지의 거리보다 작을 경우
            if not visited[i] and (u == -1 or dist[i] < dist[u]):
                u = i
                
        # all the nodes have been visited or we can't reach this node
        if dist[u] == Inf:
            break
        # set the node as visited
        visited[u] = True # 거리 목록의 거리를 해당 노드까지의 거리로 설정합니다.
        
        # 시작 노드에서 각 노드까지 거리를 현재 해당 노드에 대한 거리와 비교
        for v, num, l in graph[u]:
            if dist[u] + l < dist[v]:
                dist[v] = dist[u] + l
                print(u, v)
        
    return dist #, path

In [246]:
naive_dijkstras(mini_graph, 0)
# 0-> 1까지 비용 1 걸린다.
# 0->2까지

0 1
1 2
1 3
2 4
3 4

([0, 1, 3, 4, 5], [[0], [0], [0], [0], [0]])

In [187]:
graph[1]

[(2, 1, 6), (3, 2, 4)]