# Imports

In [1]:
import pandas as pd
import numpy as np
from numpy import Inf

import os

from tqdm import tqdm

# Load Dataset

In [2]:
data_dir = 'dataset'

In [3]:
network_file = 'Network.csv'
network_path = os.path.join(data_dir, network_file)

In [4]:
network = pd.read_csv(network_path, encoding = 'cp949')

In [5]:
network.head(3)

,Init node,Term node,Free Flow Time,Capacity,Length,B,Power,Speed.limit,Toll1,Toll2,Type
0,1,2,6,25900.20064,6,0.15,4,0,0,0,1
1,1,3,4,23403.47319,4,0.15,4,0,0,0,1
2,2,1,6,25900.20064,6,0.15,4,0,0,0,1

In [6]:
# O, D, FFT, Power, Capacity, B, ... 만 남기고 나머지는 지운다.
# Volume, Cost라는 빈 컬럼을 생성한다.
# cost를 구한다.
net1 = pd.DataFrame({
    'O' : network['Init node '],
    'D' : network['Term node '],
    'FFT' : network['Free Flow Time '],
    'Power' : network['Power'],
    'Capacity' : network['Capacity '],
    'B' : network['B'],
    'Length' : network['Length '],
    'Link_num' : [i for i in range(1, len(network)+1)],
    #'Toll' : network['Toll '],
    'Volume' : 0,
    'Cost' : network['Free Flow Time '],
})

In [7]:
net1

     O   D  FFT  Power      Capacity     B  Length  Link_num  Volume  Cost
0    1   2    6      4  25900.200640  0.15       6         1       0     6
1    1   3    4      4  23403.473190  0.15       4         2       0     4
2    2   1    6      4  25900.200640  0.15       6         3       0     6
3    2   6    5      4   4958.180928  0.15       5         4       0     5
4    3   1    4      4  23403.473190  0.15       4         5       0     4
..  ..  ..  ...    ...           ...   ...     ...       ...     ...   ...
71  23  22    4      2   5000.000000  0.25       4        72       0     4
72  23  24    2      2   5078.508436  0.25       2        73       0     2
73  24  13    4      2   5091.256152  0.25       4        74       0     4
74  24  21    3      2   4885.357564  0.25       3        75       0     3
75  24  23    2      2   5078.508436  0.25       2        76       0     2

[76 rows x 10 columns]

# Make Graph

In [8]:
def make_graph(network):
    """네트워크 데이터프레임을 투입하여 graph 객체를 만들어주는 함수"""
    origin_array = np.array(network['O'].unique())
    
    graph = {} # 빈 딕셔너리 생성

    for origin in origin_array:
    
        origin_rows = network[network['O'] == origin]
    
        destin_array = np.array(origin_rows['D'])
        link_num_array = np.array(origin_rows['Link_num'])
        cost_array = np.array(origin_rows['Cost'])
    
        tup_dict = {}
    
        for destin, link_num, cost in zip(destin_array, link_num_array, cost_array):
            #tup_list.append((destin, link_num, cost))
            tup_dict[destin] = (link_num, cost)
    
        graph[origin] = tup_dict
    
    return graph

In [9]:
graph = make_graph(net1)

graph # Node_from : [(Node_to, Link_num, Cost)]

{1: {2: (1, 6), 3: (2, 4)},
 2: {1: (3, 6), 6: (4, 5)},
 3: {1: (5, 4), 4: (6, 4), 12: (7, 4)},
 4: {3: (8, 4), 5: (9, 2), 11: (10, 6)},
 5: {4: (11, 2), 6: (12, 4), 9: (13, 5)},
 6: {2: (14, 5), 5: (15, 4), 8: (16, 2)},
 7: {8: (17, 3), 18: (18, 2)},
 8: {6: (19, 2), 7: (20, 3), 9: (21, 10), 16: (22, 5)},
 9: {5: (23, 5), 8: (24, 10), 10: (25, 3)},
 10: {9: (26, 3), 11: (27, 5), 15: (28, 6), 16: (29, 4), 17: (30, 8)},
 11: {4: (31, 6), 10: (32, 5), 12: (33, 6), 14: (34, 4)},
 12: {3: (35, 4), 11: (36, 6), 13: (37, 3)},
 13: {12: (38, 3), 24: (39, 4)},
 14: {11: (40, 4), 15: (41, 5), 23: (42, 4)},
 15: {10: (43, 6), 14: (44, 5), 19: (45, 3), 22: (46, 3)},
 16: {8: (47, 5), 10: (48, 4), 17: (49, 2), 18: (50, 3)},
 17: {10: (51, 8), 16: (52, 2), 19: (53, 2)},
 18: {7: (54, 2), 16: (55, 3), 20: (56, 4)},
 19: {15: (57, 3), 17: (58, 2), 20: (59, 4)},
 20: {18: (60, 4), 19: (61, 4), 21: (62, 6), 22: (63, 5)},
 21: {20: (64, 6), 22: (65, 2), 24: (66, 3)},
 22: {15: (67, 3), 20: (68, 5), 21: (69, 2), 23: (70, 4)},
 23: {14: (71, 4), 22: (72, 4), 24: (73, 2)},
 24: {13: (74, 4), 21: (75, 3), 23: (76, 2)}}

mini_graph = {
    0: {1:('A', 1)},
    1: {0:('B', 1), 2:('C', 2), 3:('D', 3)},
    2: {1:('E', 2), 3:('F', 1), 4:('G', 5)},
    3: {1:('H', 3), 2:('I', 1), 4:('J', 1)},
    4: {2:('K', 5), 3:('L', 1)}
}

In [10]:
def Dijkstra(network, O, D):
    """ 해당 네트워크(network)의 각 기점(O), 종점(D)에 대해
    Dijkstra 방식의 최단경로 링크 리스트를 추출해주는 함수"""
    
    graph = make_graph(network)
    
    path = {} #최단경로 저장
    adj_node = {} #인접노드
    
    queue = []
    
    for node in graph: # 모든 노드 체크, 경로 초기화
        path[node] = float('inf')
        adj_node[node] = None
        queue.append(node)

    path[O] = 0
    
    while queue: # 방문한 노드 및 각 노드 사이의 최소경로 검색
        key_min = queue[0]
        min_val = path[key_min]
        
        for n in range(1, len(queue)):
            if path[queue[n]] < min_val:
                key_min = queue[n]
                min_val = path[key_min]
        
        cur = key_min
        queue.remove(cur)

        for i in graph[cur]:
            alternate = graph[cur][i][1] + path[cur]
            
            if path[i] > alternate:
                path[i] = alternate
                
                adj_node[i] = cur
                
    nodes = [D]
    target = D
    
    while True:
        D = adj_node[D]
        if D is None:
            break
        nodes.append(D)
    
    nodes.reverse()

    costs = list(path.values())[target]

    links = []
    
    for i in range(len(nodes)-1):
        link = graph[nodes[i]][nodes[i+1]][0]
        links.append(link)
        
    return costs, links #,nodes # 각 start-end별 최저비용(cost) 및 해당 구간당 경유링크, (경유노드) 반환

In [11]:
Dijkstra(net1, 1,5)

(11, [2, 6, 9])

# Reference
* https://www.codespeedy.com/how-to-implement-dijkstras-shortest-path-algorithm-in-python/